body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif; 
}

.header {
    background: #3B5998;
    padding: 8px 0;
    /* overflow: hidden; for solved back ground color problem */
}

.header::after{
    content: '';
    clear: both;  /*for solved back ground color problem useing sodo element*/
    display: block; 
}

.container{
    width: 65%;
    margin: auto;
    max-width: 1000px;
}

.logo-area {
    width: 30%;
    float: left;
}

.logo-area img {
    width: 160px;
    margin-top: 20px;
}

.login-area{
    width: 70%;
    float: left;
    color: white;
}

.login-area from{
    float: right;
}

.login-area lable,
.login-area input{
    display: block;
}

.login-area .email,
.login-area .password,
.login-area .login{
    float: left;
    margin-right: 15px;
}

.login-area lable{
    font-size: 14px;
    margin-bottom: 5px;
}

.login-area login{
    margin-right: 0;
}

.login-area input[type="text"],
.login-area input[type="password"]{
    border: 1px solid #000;
    font-size: 14px;
    font-weight: 300;
    padding: 2px 5px;
}

.login-area .password a{
    text-decoration: none;
    color: #9cb4d8;
    font-size: 12px;
}

.login-area .password a:hover{
    text-decoration: underline;
}

.login-area input[type="submit"]{
    background-color: #4267b2;
    border: 1px solid #29487d;
    color: #fff;
    padding: 3px 8px;
    font-weight: 400;
    margin-top: 20px;
}

/* End Header Area */

.singup-area{
    background: linear-gradient(#ffffff,#D4D9E9);
    padding: 25px 0;
}
.singup-area::after {
    content: '';
    clear: both;
    display: block;
}
.left-area {
    width: 55%;
    float: left;
}

.left-area p {
    font-size: 20px;
    color: #0e385f;
    font-weight: 600;
    width: 90%;
}

.left-area img{
    width: 100%;
}

.right-area h2 {
    font-size: 33px;
    color: #333;
    margin: 0;
}

.right-area h4{
    font-size: 19px;
    color: #1d2129;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom:  10px;
}
.right-area {
    width: 45%;
    float: left;
}

.right-area input[type="text"],
.right-area input[type="password"]{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #bdc7d8;
    border-radius: 5px;
    padding:  8px 10px;
    font-size: 18px;
    margin: 5px 0;
}

.full-name{
    overflow: hidden;
}

.first-name{
    width: 48%;
    float: left;
    margin-right: 4%;
}

.surname{
    width: 48%;
    float: left;
}
.birthday{
    overflow: hidden;
}
.birthday h4 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color:#90949c;
}

.birth-date {
    overflow: hidden;
    float: left;
    margin-right: 10px;
    width: 200px;
}

.birth-date select {
   border: 1px solid #ccc;
   padding: 5px;
   float: left;
}

.gender{
    margin: 10px 0;
}
.gender h4{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color:#90949c;
}

.gender label{
    font-size: 18px;
    font-weight: normal;
    color: #1d2129;
    line-height: 18px;
    padding: 0 10px 0 3px;
}

.text-box {
   margin-bottom:  20px; 
}

.text-box p {
   font-size: 11px;
    color: #777;
    width: 316px;
}

.text-box a {
    text-decoration: none;
    color: #385898;
    cursor: pointer;
}

.text-box a:hover {
    text-decoration: underline;
}

.btn {
   margin-bottom : 30px;
}
.btn input{
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    border-width: 1px;
    border-style: solid;
    padding: 7px 20px;
    min-width: 194px;
    text-align: center;
    color: #fff;
    border-radius: 6px;
    font-weight: 400;
    font-size: 20px;
    transition: 0.5s;
}

.btn input:hover {
    background: linear-gradient(#578843, #67ae55);
    cursor: pointer;
}

.business{
    font-weight: 600;
    color: #666;
}
.business a {
   text-decoration: non;
    color: #385898;
}
.business a:hover{
    text-decoration: underline;
}

/* End Sing Up Area */

.footer-area{
    padding: 30px 0;
}

.footer-area ul{
    margin: 0;
    padding: 0;
}

.footer-area ul li{
    display: inline;
    font-size: 13px;
}

.footer-area ul li a{
    text-decoration: none;
    color: #365899;
}

.footer-area ul li.active a{
    color: #737373;
}

.footer-area .top ul li{
    margin-right: 5px;
}

.footer-area .middle ul li{
    margin-right: 10px;
}

.footer-area .bottom{
    margin-top: 20px;
}
.footer-area span{
    color: #737373;
    font-size: 13px;
}

.footer-area .top ul li:last-child a{
    border: 1px solid #999;
    padding: 0 6px;
}
.footer-area .top ul li,
.footer-area .bottom ul li{
    margin-right: 0;
}

.footer-area hr{
    border: 0;
    border-bottom: 1px solid #d4d4d4;
}